.gitignorexxx
bin/
obj/
.vs/
.idea/
/.idea/
idea
Media Player SDK X (crossplatform)/MAUI/SimplePlayer/SimplePlayer8.csproj.user
Media Player SDK X (crossplatform)/MAUI/SimplePlayer/SimplePlayer.csproj.user
Video Capture SDK X (crossplatform)/MAUI/QRReader/QRReader8.csproj.user
*.user
Video Fingerprinting SDK/CLAUDE.md
