@{
    ViewBag.Title = "Step 2 - Convert file";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*@using (Html.BeginForm("StartConvertClick", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="submit" name="Submit" id="Submit" value="StartConvertClick" />
    }*@

@Html.ActionLink("Click to start conversion and wait", "StartConvertClick", "Home")

