@{
    ViewBag.Title = "Step 1 - Upload file";
}

<div class="row">

    <h1>VisioForge Video Edit SDK .Net - Simple Convert Demo (ASP.Net MVC)</h1>

    <h3>Please select source video file to upload and convert to MP4.</h3>

    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        <input type="file" name="file" />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
    }     


</div>