<?xml version="1.0"?>
<configuration>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json"
								  publicKeyToken="cc7b13ffcd2ddd51"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.5"
								 newVersion="6.0.0.5"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>