name: Build Android
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    env:
      Solution_Name_MB: "Media Blocks SDK/VisioForge.MediaBlocks.Demos.CS Android.sln"

      Solution_Name_MP: "Media Player SDK X/VisioForge.MediaPlayer.X.Demos.CS.Android.sln"

      Solution_Name_VC: "Video Capture SDK X/VisioForge.VideoCaptureX.Demos.CS Android.sln"

    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET 
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          9.0.x

    - name: Install workloads
      run: dotnet workload install android
          
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1
        
    ## Media Blocks

    - name: Restore dependencies $env:Solution_Name_MB
      run: dotnet restore $env:Solution_Name_MB

    - name: Build app for release $env:Solution_Name_MB
      run: msbuild $env:Solution_Name_MB -t:rebuild -verbosity:diag -property:Configuration=Release

    ## Media Player

    - name: Restore dependencies $env:Solution_Name_MP
      run: dotnet restore $env:Solution_Name_MP

    - name: Build app for release $env:Solution_Name_MP
      run: msbuild $env:Solution_Name_MP -t:rebuild -verbosity:diag -property:Configuration=Release

    ## Video Capture

    - name: Restore dependencies $env:Solution_Name_VC
      run: dotnet restore $env:Solution_Name_VC

    - name: Build app for release $env:Solution_Name_VC
      run: msbuild $env:Solution_Name_VC -t:rebuild -verbosity:diag -property:Configuration=Release
